
<section class="content-wrapper main-content clear-fix">
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="panel panel-primary">
                <div class="panel-heading">Kawasan Sukar Untuk Lain-Lain</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label id="catsel">Nilai (RM)</label>
                            <input type="text" id="OtherDifValue" name="OtherDifValue" class="form-control" value="0" />
                        </div>
                    </div>
                </div>
                <div class="panel-heading">Pengesahan Pengurus</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label id="catsel">ID Pengurus</label>
                            <input type="text" id="ManagerID2" name="ManagerID2" class="form-control" required />
                        </div>
                        <div class="col-sm-3">
                            <label id="catsel">Password Pengurus</label>
                            <input type="password" id="ManagerPassword2" name="ManagerPassword2" class="form-control" required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: -20px;">
        <button class="btn btn-success" name="SaveOtherDifValue" id="SaveOtherDifValue" type="button">@GlobalResEstate.btnSave</button>
        <button class="btn btn-warning" data-dismiss="modal" id="back2">@GlobalResEstate.btnBack</button>
    </div>
</section>

